<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/main.js" defer></script>
    <script src="/js/game.js" defer></script>


</head>
<body>
    <my-header></my-header>

    <div class="container-center">
        <h1 class="header-pages">
            Welcome to game page <%= user.username %>
        </h1>
        
        <!-- Quit and Start Game Buttons -->
        <div class="game-controls">
            <input class="quit-btn" id="quit-btn-id" type='button' value='Quit' onclick="redirectToLobby(); saveGameState()" />
        </div>

        
        <!-- Number of Players -->
        <div class="num-of-players-display">
            <h3 id="num-of-players-id" class="num-players">Number of Players:</h3>
        </div>
        <!-- Uno Game Interface -->
        <div class="uno-interface">
            <!-- Gameplay Screen -->
            <div class='pile-container'>
            <!-- Deck Container -->
            <div class="deck-container">
                <div class="pile-name">
                    <h3>Deck</h3>
                </div>
                <div class='deck'>
                    <img id="deck-img-id" src='/cards/back.png' alt='Deck' height="135px" width="100px">
                </div>
            </div>

            <!-- Discard Container -->
            <div class="discard-container">
                <div class="pile-name">
                    <h3>Discard Pile</h3>
                </div>
                <div class='discard-pile'>
                    <img id="discard-img-id" src='/cards/back.png' alt='Discard Pile' height="135px" width="100px">
                </div>
            </div>
        </div>
            
            <div class="draw-btn-loc">
                <input class="draw-btn" type='button' value='Draw' onclick="drawCard()">
            </div>

            <!-- Call Uno and Game Message Displays -->
            <div class="game-status">
                <h3 id="call-uno-msg-id" class="call-uno-msg"></h3>
                <h3 id="game-msg-id" class="game-msg" style="color: yellow; padding: 10px;"></h3>
                <h3 id="current-player-name-id" class="current-player-name" style="color: green; padding: 10px;"></h3>
            </div>

            <!-- Player Hands -->
            <div class="game-container">
                <div class="game-cards-container">
                    <div class="hands-title">
                        <h1>Hands</h1>
                    </div>
                    <div class="game-cards">
                        <!-- Player's Hand -->
                        <div class="hands-container">
                            <!-- Player's Hand -->
                            <div id='player-hand-parent-id' class="player-hand">
                                <h3>Player:</h3>
                                <!-- Player's cards here -->
                                <img id="discard-img-id" src='/cards/0-0.png' height="135px" width="100px">
                                <img id="discard-img-id" src='/cards/2-4.png' height="135px" width="100px">
                                <img id="discard-img-id" src='/cards/3-7.png' height="135px" width="100px">
                                <img id="discard-img-id" src='/cards/1-5.png' height="135px" width="100px">

                            </div>

                            <!-- Opponents' Hands -->
                            <div id='opponents-hand-parent-id' class="opponents-hand">
                                <h3>Opponents:</h3>
                                <!-- Opponents' cards here -->
                                <img id="discard-img-id" src='/cards/back.png' height="135px" width="100px">
                                <img id="discard-img-id" src='/cards/back.png' height="135px" width="100px">
                                <img id="discard-img-id" src='/cards/back.png' height="135px" width="100px">
                                <img id="discard-img-id" src='/cards/back.png' height="135px" width="100px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chat-box">
        <div class="chat-header">
            <h2>Chat</h2>
        </div>
        <div class="chat-messages" id="chatMessages">
        </div>
        <form class="chat-form" id="send-chat-form-id" onsubmit="sendMessage(); return false;">
            <input name="message" type="text" id="chatInput" placeholder="Type a message..." autocomplete="off">
            <input type="submit" class="msg-btn" value="Send">
        </form>
    </div>

    <script>
        function appendMessage(username, message) {
            const messageDiv = document.createElement('div');
            messageDiv.classList.add('chat-message');
            messageDiv.classList.add(username === 'user.username' ? 'user' : 'other'); // Double Check
            messageDiv.textContent = message;
            document.getElementById('chatMessages').appendChild(messageDiv);
        }
    </script>
    <my-footer></my-footer>

</body>
</html>