<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/main.js" defer></script>


</head>
<body>
    <div class="main-content">

    <div class="title">
        <h1>Welcome to game page</h1>
        <h2>Game id <%= game_id %></h2>

    </div>
    <my-header></my-header>

    </div>

    <my-footer></my-footer>

</body>
</html>