<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/main.js" defer></script>
</head>

<body>
    <my-header></my-header>

    <div class="container-center">
        <div class="content">
            <img src="/images/UNO_logo.webp" alt="Uno icon" width="350" height="350">
        </div>

        <div class="content-welcome">
            Hello <% if (name === null) { %> User, <% } else { %> <%= name, %> <% } %>
            Welcome to Uno Home Page
        </div>
    </div>

    <my-footer></my-footer>
</body>
</html>
