<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/main.js" defer></script>

    

</head>
<body>
    <div class="main-content">

        <div class="title">
            <h1>Global lobby page</h1>
        </div>
        <my-header></my-header>

            <div class="find-game-button-container">
                <button id="findGameButton" class="find-game-button">Find Game</button>
            </div>
    </div>

    <my-footer></my-footer>

</body>
</html>