<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Title</title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <% if (name === "John") { %>
            <p>Hello professor!</p>
        <% } else {  %>
            <p>Hello <%= name %>!...</p>
        <% } %>
        <h1>test stuff</h1>
        <img src="/images/favicon.ico" alt="Reddit icon">
    </body>
</html>