<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnoGame</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/main.js" defer></script>


</head>

<body>
    <div class="main-content">

    <div class="title">
        <h1> 
            Sign In Page
        </h1>
    </div>
    <my-header></my-header>


    <form action="/auth/sign_in" method="post">
        <div class=input-label>
            Username
        </div>
        <input class="input-entry" type="text" name="" id="" placeholder="Username">
        <div class=input-label>
            Password
        </div>
        <input class="input-entry" type="password" name="" id="" placeholder="Password">
        <input type="submit" value="Sign In">
        <div class="register-prompt">
            Don't have an account? <a href="/auth/sign_up">Click here</a>
        </div>
    </form>
    </div>

    <my-footer></my-footer>
</body>
</html>