<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/main.js" defer></script>
    <script src="/js/gameID.js" defer></script>


</head>
<body>
    <my-header></my-header>

    <div class="container-center">
        <h1 class="header-pages">
            Welcome to Waiting Room <%= user.username %>
        </h1>
        <h2 class="header-pages">Lobby Name !!!DO SOMETHING HERE!!! </h2>
        <h3>
            <%= user.username %> has joined <br>
        </h3>

        <div class="form-group">
            <a href="#"><button id="findGameButton" class="submitButton" onclick="startGame();">Start Game</button></a>
        </div>
    </div>

    <script>
        function appendMessage(username, message) {
            const messageDiv = document.createElement('div');
            messageDiv.classList.add('chat-message');
            messageDiv.classList.add(username === 'user.username' ? 'user' : 'other'); // Double Check
            messageDiv.textContent = message;
            document.getElementById('chatMessages').appendChild(messageDiv);
        }

    </script>
    <my-footer></my-footer>

</body>
</html>