* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
  display: flex;
  flex-direction: column;
}

h2 {
  color: white;
}

/* Header and Footer */
my-header,
my-footer {
  background-color: #f4f4f4;
  padding: 1rem;
  text-align: center;
}

my-footer {
  margin-top: auto;
}

/* Sidebar styles */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 4;
}

/* Sidebar link styles */
.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  color: #ddd;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #fff;
}

/* Close button inside the sidebar */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
  color: #fff;
  font-size: 30px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #444;
  color: white;
  padding: 10px 15px;
  border: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.openbtn:hover {
  background-color: #333;
}

/* Style for the submit button */
.submitButton {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.registerButton {
  width: 15rem;
}

/* Change background color of button on hover */
.submitButton:hover {
  background-color: #333;
}

/* Container */
.container {
  width: 80%;
  margin: auto;
  flex: 1;
}

.container-center {
  margin-bottom: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Content */
.content {
  padding: 20px;
}

.content-welcome {
  padding: 20px;
  font-size: 24px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 0.5rem;
  margin-bottom: 10px;
  width: 225px;
}

button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.header-pages {
  color: black;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

/* Login and Register */
/* Highlight the bottom border of the input when it is focused */
.form-group {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  color: #333;
  transition: border-color 0.2s;
  border-radius: 0;
  padding-left: 0;
}

.form-control:focus,
.form-control:not(:placeholder-shown) {
  border-bottom: 2px solid #444;
  box-shadow: none;
  outline: none;
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label {
  transform: translateY(-100%);
  font-size: 12px;
  color: #444;
}

.form-label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  color: #aaa;
  margin-left: 0;
  padding-left: 0;
}

.form-control::placeholder {
  color: transparent;
}

.form-control:focus::placeholder {
  color: #aaa;
}

.container-center .submitButton {
  width: 100%;
  padding: 10px 15px;
  font-size: 20px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container-center .submitButton:hover {
  background-color: #333;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  height: 1rem;
  display: block;
}

.message {
  font-size: 0.8rem;
  height: 1rem;
  display: block;
}

/* Style for the registration prompt */
.register-prompt {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  width: 12rem;
}

.register-prompt a {
  color: #337ab7;
  text-decoration: none;
  transition: color 0.3s;
}

.register-prompt a:hover {
  color: #23527c;
}

/* Game Page Chat Box */
.chat-box {
  width: 300px;
  height: calc(100% - 325px);
  position: fixed;
  bottom: 60px;
  right: 20px;
  width: 300px;
  margin-bottom: 1rem;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
}

.chat-header {
  padding: 10px;
  background-color: #f4f4f4;
  color: #333;
  border-bottom: 1px solid #ddd;
}

.chat-box .chat-header h2 {
  color: black;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
}

.chat-form {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #f4f4f4;
}

.chat-form input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.chat-form button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chat-form button:hover {
  background-color: #444;
}

.chat-message {
  background-color: #f4f4f4;
  margin: 5px;
  padding: 8px 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  word-wrap: break-word;
}

/* Differentiate between messages sent by the user and others */
.chat-message.user {
  background-color: #d4edda;
  margin-left: auto;
}

/* Scrollbar styles for chat messages */
.chat-messages::-webkit-scrollbar {
  width: 8px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 4px;
}

/* Adjust the chat box size and layout on smaller screens */
@media (max-width: 1200px) {
  .chat-box {
    position: fixed;
    width: 350px;
    height: 300px; /* Set the height of the chat box */
    z-index: 5;
    overflow-y: auto;
  }

  /* Add extra space at the bottom of the main container */
  .container-center {
    margin-bottom: 350px; /* Same as the height of the chat box */
  }

  /* Adjust the layout of game elements if needed */
  .uno-interface,
  .game-container {
    /* Additional responsive adjustments */
  }
}

/* Uno Game Styles */

/* Container for the deck and discard pile */
.pile-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

/* Individual containers for the deck and discard pile */
.deck-container,
.discard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Button styles for drawing a card and other actions */
.draw-btn,
.quit-btn,
.start-btn {
  margin: 10px;
  padding: 5px 15px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.draw-btn:hover,
.quit-btn:hover,
.start-btn:hover {
  background-color: #555;
}

/* Add some space around the images */
.deck img,
.discard-pile img {
  margin: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Ensure that the chat box does not cover the game */
.chat-box {
  z-index: 3; /* higher than the game elements */
}

/* Additional media query adjustments for better responsive design */
@media (max-width: 768px) {
  .pile-container {
    flex-direction: column;
  }

  .deck-container,
  .discard-container {
    margin-bottom: 20px;
  }
}

.quit-btn {
  padding: 10px 20px;
  font-size: 24px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Change background color of button on hover */
.quit-btn:hover {
  background-color: #333;
}

.draw-btn {
  padding: 10px 20px;
  font-size: 24px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.draw-btn:hover {
  background-color: #333;
}

.msg-btn {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.msg-btn:hover {
  background-color: #333;
}

/* Style for the hands container */
.hands-container {
  justify-content: space-around;
  align-items: center;
}

.player-hand,
.opponents-hand {
  /* Add any specific styling for player and opponents hand here */
  /* For example, you might want to set a max-width or padding */
}

.hands-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.draw-btn-loc {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pile-name {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
